body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

label {
  text-transform: capitalize;
}

.charts {
  display: flex;
}

.teachers-chart {
  margin-top: 100px;
}

.chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 600px;
}

.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-item {
  margin-right: 10px;
  display: inline-block;
  height: 20px;
  width: 30px;
  content: ' ';
}

table{
  border-collapse:collapse;
}

th {
  text-align: left;
  padding: 3px;
  padding-right: 15px;
}

.data-row {
  border-top: 1px solid lightgrey;
}

.data-row td {
  padding: 5px;
  padding-right: 15px;
  border-top: 1px solid grey;
}

.data-row:nth-child(2n) {
  background-color: #f1f1f1;
}

.bold {
  font-weight: bold;
}

@media (max-width: 1000px) {
  .charts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
